@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

.animate-glow {
  animation: glowPulse 1s infinite alternate;
}

@keyframes glowPulse {
  from { box-shadow: 0 0 8px 2px rgba(255, 200, 0, 0.7); }
  to { box-shadow: 0 0 15px 4px rgba(255, 230, 0, 0.9); }
}

@keyframes diceRoll {
  0%  { transform: rotate(0deg) scale(1); }
  25%  { transform: rotate(90deg) scale(0.9); }
  50%  { transform: rotate(180deg) scale(1.05); }
  75%  { transform: rotate(270deg) scale(0.95); }
  100%  { transform: rotate(360deg) scale(1); }
}

.animate-diceRoll {
  animation: diceRoll 0.6s ease-in-out;
}